.tiro-bangla-regular {
    font-family: "Tiro Bangla", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .tiro-bangla-regular-italic {
    font-family: "Tiro Bangla", serif;
    font-weight: 400;
    font-style: italic;
  }

.logo1{
    width: 90px;
    height: 90px;
    padding: 10px 20px;
}
body{
    max-width: 2000px;
} 
.logo2{
    width: 160px;
    height: 80px;
    padding: 10px 10px;
}
.logo3{
    width: 160px;
    height: 80px;
    padding: 10px 10px;
}
.logo4{
    width: 720px;
    height: 100px;
    padding: 0 1px;
}
.headdiv{
    background-image:  linear-gradient(to left, red, orange);
    margin: 20px ;
    padding: 30px 0;
    position: relative;
}
.subdiv{
    position: absolute;
    left: 20px;
    bottom: 18px;
}
.morediv{
    position: absolute;
    left: 950px;
    bottom: 18px ;
}
.button{
    margin: 0 10px;
    padding: 0 20px;
    color: white;
}
.button2{
    margin: 0 10px;
    padding: 0 20px;
    color: white;
    font-size: 14px;
}
.button:hover{
    color: white;
    background-color: rgb(227, 137, 11);
    padding: 30px 20px 15px 20px;
    border-radius: 10px;
}
.button2:hover{
    text-decoration: underline;
}
.titlediv{
    margin: 25px 20px;
    border: 1px solid rgb(224, 220, 220);
    padding: 13px 0;
    position: relative;
}
.notice{
    background-color: rgb(230, 86, 15);
    padding: 13px 38px;
    position: absolute;
    top: 0;
}
.vipi{
    margin-left: 150px;
}
.hasina{
    width: 100%;
    height: auto;
}
.span1{
    width: 900px;
    height: 1200px ;
    float: left;
}
.one{
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
    color: rgb(245, 9, 9);
    border-bottom: 2px solid rgb(160, 65, 21);
}
.two{
    margin-left: 100px;
    font-size: 17px;
}
#right{
    color: orangered;
}
.three{
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
    color: rgb(245, 9, 9);
    border-bottom: 2px solid rgb(160, 65, 21);
}
.five{
    position: relative;
}
.six{
    position: absolute;
    left: 30px;
    font-size: 17px;
}
.saven{
    position: absolute;
    left: 400px;
    font-size: 17px;
}
.eight{
    position: absolute;
    left: 30px;
    top: 30px;
    font-size: 17px;
}
.nine{
    position: absolute;
    left: 400px;
    top: 30px;
    font-size: 17px;
}
.eleven{
    position: relative;
    font-size: 17px;
}


.march{
    font-size: 17px;
    list-style: none;
}
.medical{
   position: absolute;
   top: 1470px;
   left: 495px;
}
.dec{
    position: relative;
}
.nov{
    position: absolute;
    top: 56px;
    left: 490px;
}
.span2{
    width: 300px;
    height: 1200px;
    float: right;
}
.sep{
    height: 180px;
    width: 300px;
    background-color: rgb(224, 74, 9);
    border-radius: 10px;
    position: relative;
}
.oct{
    width: 250px;
    height: 35px;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    top: 15px;
    left: 20px;
}
.aug{
    width: 250px;
    height: 35px;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    top: 55px;
    left: 20px;

}
.anu{
    width: 250px;
    height: 35px;
    background-color: rgb(241, 144, 69);
    position: absolute;
    top: 110px;
    left: 20px;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-size: 20px;
    padding-top: 10px;

}
.path{
    width: 300px;
    height: auto;
}
.last1{
    text-align: center;
    
}
